* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

body {
  line-height: 1.5;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

button,
input,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input,
select,
button {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
